<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="homestyle.css">
    <title>NewsPaper Agecny Assistent</title>
</head>
<!-- background-color: rgb(41, 40, 40); color: white; -->

<body>
    <div style="position: relative;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">NewsPaper</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/first_window/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Downlaod</a>
                        </li>
                    </ul>
                     
                </div>
            </div>
        </nav>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static_img/download1.jpg" class="d-block w-100" alt="..." style="height: 500px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Newspaper Give Current Information</h5>
                    <p> Today also Many People like Newspaper</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static_img/download2.jpg" class="d-block w-100" alt="..."style="height: 500px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Technology VS Newspaper</h5>
                    <p>Newspaper give very effective knowledge compare to tech knowledge</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static_img/download.jpg" class="d-block w-100" alt="..." style="height: 500px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Newspaper Management</h5>
                    <p>Distribution of newspaper must be managed in effective way</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container" style="height: 300px; display: flex;justify-content: center;align-items: center; flex-direction: column;">
        <h3>Clcik On Image For <i><b>Download</b></i> Desktop Newspaper Management Agecny File</h3>
        
      <a style="margin: 30px;"
      href="../upload_file/javaJdbccProject.zip " download="Desktop File"> 
          <img src="../static_img/images.jpg" >
      </a>
       
    </div>
    <div class="container" style="margin:30px;">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
            <div class="col homestyle">
                <div class="card shadow-sm  ">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                         <image href="../static_img/download.jpg" x="0" y="0" width="110%" height="80%" />
                        <!-- <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text> -->
                    </svg>
                     <h1 style="margin-left: 20px; color: rgb(236, 73, 73);">Paper Master</h1>
                    <div class="card-body">
                        <p class="card-text">Handle add, update or delete of current newspaper and prices</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col homestyle">
                <div class="card shadow-sm  ">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                         <image href="../static_img/hawker_manager.jpg" x="0" y="0" width="110%" height="80%" />
                        <!-- <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text> -->
                    </svg>
                    <h1 style="margin-left: 20px; color: rgb(236, 73, 73);">Hawker Manager</h1>
                    <div class="card-body">
                        <p class="card-text">Manage task related to hawker. Add, delete and update hawker.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col homestyle">
                <div class="card shadow-sm  ">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                         <image href="../static_img/customer_manager.jpg" x="0" y="0" width="110%" height="80%" />
                        <!-- <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text> -->
                    </svg>
                    <h1 style="margin-left: 20px; color: rgb(236, 73, 73);">Customer Manager</h1>
                    <div class="card-body">
                        <p class="card-text">Manage task related to cutomer. Add, delete and update customer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col homestyle">
                <div class="card shadow-sm  ">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                         <image href="../static_img/bill_generator.jpg" x="0" y="0" width="110%" height="80%" />
                        <!-- <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text> -->
                    </svg>
                    <h1 style="margin-left: 20px; color: rgb(236, 73, 73);">Bill Generator</h1>
                    <div class="card-body">
                        <p class="card-text">Generate the bill of a customer and send SMS on mobile number with thier details.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col homestyle">
                <div class="card shadow-sm  ">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                         <image href="../static_img/bill_history.jpg" x="0" y="0" width="110%" height="80%" />
                        <!-- <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text> -->
                    </svg>
                    <h1 style="margin-left: 20px; color: rgb(236, 73, 73);">Bill Record</h1>
                    <div class="card-body">
                        <p class="card-text">Generate the record of bill of all customers and also number of newspaper of each customer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col homestyle">
                <div class="card shadow-sm  ">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                         <image href="../static_img/view_customer.png" x="0" y="0" width="110%" height="80%" />
                        <!-- <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text> -->
                    </svg>
                    <h1 style="margin-left: 20px; color: rgb(236, 73, 73);">View All Customer</h1>
                    <div class="card-body">
                        <p class="card-text">View History of all customer related to their bills and number of papers.</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col homestyle">
                <div class="card shadow-sm  ">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="200"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                         <image href="../static_img/future_target.jpg" x="0" y="0" width="110%" height="80%" />
                        <!-- <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text> -->
                    </svg>
                    <h1 style="margin-left: 20px; color: rgb(236, 73, 73);">Future Target</h1>
                    <div class="card-body">
                        <p class="card-text">Help to set target of resume of current year based on previous data</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <script>
        const homestyles=document.querySelectorAll('.homestyle');
        homestyles.forEach((homestyle)=>{
        homestyle.addEventListener("mouseover",()=>{
            homestyle.style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;";
        });
        homestyle.addEventListener("mouseout",()=>{
           homestyle.style="  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;";
        });
    });
    </script>
    <div style="background-color: black; color: white">
        <div class="container">
            <footer class="py-5">
                <div class="row">
                    <div class="col-2">
                        <h5>Social</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href={{Clinkedin}}
                                    class="nav-link p-0 text-muted active">Linkedin</a></li>
                            <li class="nav-item mb-2"><a href={{Cinstagram}}
                                    class="nav-link p-0 text-muted">Instagram</a></li>
                            <li class="nav-item mb-2"><a href={{Cfacebook}} class="nav-link p-0 text-muted">Facebook</a>
                            </li>
                            <li class="nav-item mb-2"><a href={{Ctelegram}} class="nav-link p-0 text-muted">Telegram</a>
                            </li>
                        </ul>
                    </div>


                    <div class="col-8">
                        <h1 style=" position: absolute; right:250px;">Let's Work <br> Together.</h1>
                    </div>
                    <!-- <div class="col-4 offset-1">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div> -->

                    <div class="d-flex justify-content-between py-4 my-4 border-top">
                        <p>© 2022 PTI-Press Trust of India, Inc. All rights reserved.</p>
                        <ul class="list-unstyled d-flex">
                            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                        <use xlink:href="#twitter"></use>
                                    </svg></a></li>
                            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                        <use xlink:href="#instagram"></use>
                                    </svg></a></li>
                            <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                        <use xlink:href="#facebook"></use>
                                    </svg></a></li>
                        </ul>
                    </div>
            </footer>
        </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>